/* STANDARDS */
body, h1, h2, h3, h4, h5, h6, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, sans-serif;
  }
  
  /* Style de la navbar */
  nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
  }
  
  /* Style des liens dans la navbar */
  nav a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding: 8px 15px;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #007BFF;
  }
  


  