/* Reset des éléments */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Couleurs et arrière-plan */
body {
  background-color: #f5f5f5;
  color: #333;
}

a {
  color: #007BFF;
  text-decoration: none;
}

/* Navbar */
nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav a {
  color: #fff;
  font-size: 16px;
  padding: 8px 15px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #007BFF;
}

/* Styles communs pour header-topic et header-category */
.header-topic,
.header-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.header-topic h3,
.header-category h3 {
  font-size: 1.5em;
  color: #495057;
}

/* Bouton commun pour header-topic et header-category */
.header-topic .button,
.header-category .button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.header-topic .button:hover,
.header-category .button:hover {
  background-color: #0056b3;
}

/* Tableau des sujets */
.topic-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.topic-table th,
.topic-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.topic-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.locked-topic {
  background-color: #d3d3d3; 
}

/* Conteneur pour les actions admin */
.container-admin {
  display: flex;
  gap: 10px;
}

.container-admin a {
  color: #007BFF;
}

.container-admin a:hover {
  color: #0056b3;
}

/* Styles pour les messages */
.message {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.message.error {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

.message.success {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer a {
  color: #5199ec;
  margin: 0 10px;
}

/* Styles pour les liens de la navbar en fonction de la connexion de l'utilisateur */
#nav-user a {
  margin-left: 10px;
}

/* Styles pour les liens de la navbar lorsque l'utilisateur n'est pas connecté */
#nav-user a:first-child {
  margin-left: 0;
}

/* Animation de la navbar */
.slide-in-animation {
  animation: slideIn 0.5s ease forwards;
}

/* Contenu principal */
main {
  padding: 30px;
}

/* Styles pour listPost.php */
.post-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Étiquette du titre du message */
.post-title-label {
  font-weight: bold;
}

/* Titre du message */
.post-title {
  font-weight: bold;
}

/* En-tête du message */
.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Styles pour les titres de niveau 1, 2 et 3 dans l'en-tête du message */
.post-header-left h2, .post-header-left h1, .post-header-left h3 {
  margin-bottom: 5px;
}

/* Lien dans l'en-tête du message */
.post-header-right a {
  color: #007BFF;
  margin-left: 10px;
}

/* Carte du message */
.forum-posts {
  margin-bottom: 20px;
}

/* Styles pour la carte du message */
.post-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* En-tête de la carte du message */
.forum-post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* Lien dans l'en-tête de la carte du message */
.forum-post-header-left a {
  color: #007BFF;
  font-weight: bold;
}

/* Lien dans l'en-tête de la carte du message */
.forum-post-header-right a {
  color: #007BFF;
}

/* Texte du message */
.post-text {
  white-space: pre-wrap;
}

/* Formulaire pour ajouter un sujet */
.form-add-topic {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

/* Étiquette dans le formulaire pour ajouter un sujet */
.form-add-topic label {
  margin-bottom: 5px;
}

/* Zone de texte dans le formulaire pour ajouter un sujet */
.form-add-topic textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Bouton "Soumettre" dans le formulaire pour ajouter un sujet */
.form-add-topic input[type="submit"] {
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Contenu de l'auteur */
.author-content {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

/* Contenu de la réponse */
.response-content {
  background-color: #e1e1e1;
  font-weight: normal;
}

/* Étiquette de l'auteur */
.author-label {
  color: #fff;
  padding: 2px 4px;
  font-size: 12px;
  margin-left: 10px;
}

/* Centrage de la catégorie du message */
.post-category-centered {
  text-align: center;
  margin-bottom: 20px;
}

/* Category */
/* Styles pour le bouton "NEW CATEGORY" */
.header-category .button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-decoration: none; /* Pour supprimer le soulignement par défaut des liens */
  margin-left: 10px; /* Pour ajouter un espace entre le titre et le bouton */
  display: inline-block; /* Pour afficher le bouton dans la même ligne que le titre */
  line-height: 1; /* Pour aligner verticalement le texte du bouton */
}

.header-category .button:hover {
  background-color: #0056b3;
}

/* Styles pour le header-category dans listCategories */
.header-category {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.header-category h3 {
  font-size: 1.5em;
  color: #495057;
  margin: 0; 
}

/* REGISTER - LOGIN */
/* Conteneurs des formulaires d'inscription et de connexion */
.registration-container,
.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Formulaires d'inscription et de connexion */
.registration-form,
.login-form {
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Titres des formulaires d'inscription et de connexion */
.registration-form h3,
.login-form h3 {
  text-align: center;
}

/* Étiquettes des champs dans les formulaires d'inscription et de connexion */
.registration-form label,
.login-form label {
  display: block;
  margin-bottom: 5px;
}

/* Champs de saisie dans les formulaires d'inscription et de connexion */
.registration-form input,
.login-form input {
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* Boutons dans les formulaires d'inscription et de connexion */
.registration-form #submit,
.login-form #submit {
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Centrage des boutons dans les formulaires d'inscription et de connexion */
.registration-form .button,
.login-form .button {
  display: block;
  margin: 0 auto;
}
